@font-face {
    font-family: Helvetica Neue;
    src: url(../fonts/HelveticaNeue.ttf)
}

@font-face {
    font-family: Helvetica Neue;
    src: url(../fonts/Helvetica-Neu-Bold.ttf);
    font-weight: bold;
}