<div class="keypad-content">
    <div class="text-container">
        <div class="text">
            @Resource.SelectAmount
        </div>
    </div>

    <div id="display" class="display">
        <span class="display-amount">£</span>
        <span id="amount" class="display-amount"></span>
    </div>

    <div class="keypad">
        <div class="keypad-row">
            <div id="key1" class="keypad-btn keypad-btn__key" ><span> 1 </span></div>
            <div id="key2" class="keypad-btn keypad-btn__key" >2</div>
            <div id="key3" class="keypad-btn keypad-btn__key" >3</div>
        </div>
        <div class="keypad-row">

            <div id="key4" class="keypad-btn keypad-btn__key" >4</div>
            <div id="key5" class="keypad-btn keypad-btn__key" >5</div>
            <div id="key6" class="keypad-btn keypad-btn__key" >6</div>
        </div>
        <div class="keypad-row">

            <div id="key7" class="keypad-btn keypad-btn__key" >7</div>
            <div id="key8" class="keypad-btn keypad-btn__key" >8</div>
            <div id="key9" class="keypad-btn keypad-btn__key" >9</div>
        </div>
        <div class="keypad-row keypad-row__last">

            <div id="key10" class="keypad-btn keypad-btn__key-last"><i class="glyphicon glyphicon-arrow-left"> </i></div>
            <div id="key0" class="keypad-btn keypad-btn__key-last">0</div>
        </div>

    </div>

    <div class="keypad-btn--container keypad-btn--container__submit">
        <div class="keypad-btn keypad-btn__submit">submit</div>
    </div>
</div>