
<div class="basic-container container__text">
    <div class="text">
        @Resource.SelectAmount
    </div>
</div>
<div class="display">
    <div id="display" class="display-amount" type="text">
        <span id="amount" class="display-amount"></span>
    </div>
</div>
<div class="row-money">
    <div id="note-col" class="money-col"></div>
    <div id="coin-col" class="money-col"></div>
    <div id="coin-col1" class="money-col"></div>
</div>
<div class="basic-container container__back-btn">
    <div id="back" class="keypad-btn keypad-btn__back">@Resource.MakeNewTransaction</div>
</div>
<div class="basic-container container__text">
    <div class="text text__thank-you-message">
        @Resource.ThankYouForUsingUs
    </div>
</div>