
<div class="text-container">
    <div class="text">
        @Resource.SelectAmount
    </div>
</div>
    
<div class="display">
    <div id ="display" class="display-amount" type="text">
        <span> £ 555555</span>
    </div>
</div>

<div class="row-money">

    <div class="money-col">
        <div class="money-box">
            <div class="money-box--symbol">
                <div class="money-box--symbol-circle"></div>
            </div>
            <div class="text money-box--text">
                500 x 1
            </div>
        </div>
    </div>

    <div class="money-col">

    </div>

    <div class="money-col">

    </div>
</div>

<div class="text-container">
    <div class="text text__thank-you-message">
        @Resource.ThankYouForUsingUs
    </div>
</div>