
<div id="error-modal" class="Error modal fade in" id="loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <p><b id="error-modal-text"> You reached maximal amount</b></p>
                </div>
            </div>
        </div>
    </div>
</div>
